<% provide(:title, "User List") %>
<h1>Listing Places</h1>
<table class='table table-striped'>
  <%= link_to 'Create User', new_user_path, class: 'btn btn-primary' %>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% puts @users.inspect %>
    <% @users.try(:each) do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td width='30%'>
          <div class='btn-group'>
            <%= link_to 'View', user_path(user), class: 'btn btn-info' %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default' %>
            <%= link_to 'Delete', user_path(user), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>